.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  border: 0;
  border-bottom: 1px solid #ddd;
}

.tableCell {
  border: none;
  padding: 16px;
  font-size: 18px;
}

.tableRow {
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

.chosen {
  background-color: #e0e0e0;
}